In [1]:
# multiple linear regression

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# importing the dataset
data = pd.read_csv('50_Startups.csv')

In [4]:
data.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
data.shape

(50, 5)

In [6]:
X = data.iloc[:,:-1]
y = data.iloc[:,4]

In [7]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [8]:
X.shape

(50, 4)

In [9]:
pd.DataFrame(y).head()

      Profit
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [10]:
# convert categorial column 

states = pd.get_dummies(X['State'],drop_first=True)

In [11]:
X = X.drop('State',axis=1)

In [12]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [13]:
X = pd.concat([X,states],axis=1)

In [14]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [15]:
# splitting the dataset into train n test dataset
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [17]:
# fitting the multiple linear regression to the training dataset
LR = LinearRegression()
train = LR.fit(X_train,y_train)

In [18]:
#predicting the test set results
y_pred = LR.predict(X_test)

In [19]:
y_pred

array([114664.4171587 ,  90593.15531618,  75692.84151576,  70221.88679649,
       179790.2551487 , 171576.9201852 ,  49753.58752024, 102276.65888937,
        58649.37795765,  98272.02561132])

In [24]:
y_test

27    105008.31
35     96479.51
40     78239.91
38     81229.06
2     191050.39
3     182901.99
48     35673.41
29    101004.64
46     49490.75
31     97483.56
Name: Profit, dtype: float64

In [21]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [22]:
score

0.9649618042059874

In [23]:
# r2 score is near to 1 
#Hence we created a good model
# A model is said to be good when r2 score is near to 1